<div id="usersWrapper">
  <div id="addAndSearch">
    <div id="addUser">
      <button (click)="addUser()">Create User</button>
    </div>
    <div id="searchUser">
      <input type="text" #searchValue placeholder="Search..." />
      <button (click)="onSearch()">Search</button>
    </div>
  </div>
  <div id="wrapper">
    <ng-container *ngFor="let user of users">
      <div id="users">
        <div class="user">
          <div class="icon" [style.backgroundColor]="user.preferred_color">
            <p class="initials">
              {{ user.initials }}
            </p>
          </div>
          <p>
            <span>{{ user.first_name }} {{ user.last_name }}</span
            ><br />
            <span>{{ user.job_title }}</span
            ><br />
            <span>{{ user.department }}</span
            ><br />
            <span>{{ user.company_name }}</span>
          </p>
          <span class="read-more" (click)="openUser(user)">More Info</span>
        </div>
      </div>
    </ng-container>
  </div>
</div>
